.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: white;
}

.header a {
  text-decoration: none;
  font-family: 'VT323', cursive;
  font-size: x-large;
  color: #0BD900;
}