.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #003366;
}

.header a {
  text-decoration: none;
  font-family: 'VT323';
  font-size: x-large;
  color: #00FF00;
}